---
permalink: /papers/maternal/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Moved to /papers/sociotechnical-design/</title>
  <link rel="canonical" href="{{ site.url }}/papers/sociotechnical-design/">
  <meta http-equiv="refresh" content="0; url=/papers/sociotechnical-design/">
</head>
<body>
  <p>This paper has moved to <a href="/papers/sociotechnical-design/">/papers/sociotechnical-design/</a>.</p>
</body>
</html>
